@media only screen and (min-width: 767px) and (max-width: 1280px) {

  
}

@media screen and (max-width: 768px) {
<<<<<<< HEAD
  body{
    min-width: 300px;
  }
=======

>>>>>>> 950bc6796d2bd833e75638509b4f456a848c9221
  header{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
  }
  
  header .logo{
    margin-bottom: 30px;
    padding: 10px 0;
  }
  
  nav{
    background-color: rgba(255,255,255,0.9);
    margin-bottom: 0;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  
  nav .fixed{
    position: fixed;
  }
  
  nav ul{
    display: flex;
<<<<<<< HEAD
    margin-left: 10px;
  }
  
  nav ul li a.current::before{
    background-size: 80%;
    left: -0.7em;
=======
    margin-left: 30px;
>>>>>>> 950bc6796d2bd833e75638509b4f456a848c9221
  }
  
  .sns{
    top: 10px;
    right: 10px;
  }
  
  .container{
    padding-left: 0;
  }

  #about .mePhoto{
    float: none;
    width: 95%;
  }
  
  #about .intro{
    padding: 0 10%;
    padding-top: 50px;
    width: 100%;
  }
  
  #skills ul li{
    float: none;
    width: 85%;
  }
  
  #works ul li{
    width: 45%;
  }
  
<<<<<<< HEAD
  .insta_list ul li{
    width: 50%;
=======
  .insta_list img{
    width: 40vw;
    padding: 1vw 1vw;
>>>>>>> 950bc6796d2bd833e75638509b4f456a848c9221
  }
}
